<h3>Что это?</h3>
<p>Перед вами система учета посещаемости занятий в группе №132 факультета <a href='http://apmath.spbu.ru' target='blank'>ПМ-ПУ (СПбГУ)</a>.</p>

<h3>Используемые технологии</h3>
<p>При разработке системы использовался полный стек JavaScript технологий. За серверную часть отвечает <a href='http://socket.io' target="blank">Socket.IO</a> в связке с базой данных <a href='http://mongodb.org' target='blank'>MongoDB</a>.</p>
<p>Клиентская часть реализована в виде одностроничного веб-приложения построенного на <a href='http://angularjs.org' target="blank">AngularJS</a>. Верстка и дизайн - <a href='http://getbootstrap.com' target="blank">Twitter Bootstrap</a></p>

<h3>Связь с разработчиком</h3>
<p>По всем вопросам обращаться aksyline@gmail.com</p>